/* p {
    color: red;
} */

#test1 {
    color: green;
}

#test2 {
    color: purple;
}

ul {
    color: blue;
}

#capitalize {
    text-transform: uppercase;
}

.abc {
    color: yellow;
}

.def {
    color: white;
}

#pancake {
    margin-left: 500px;
}

#tab {
    margin-left: 10em;
}

body {
    padding-left: 20px;
    padding-top: 20px;
}